@import "tailwindcss";

@layer components {
  .form-input-skm {
    @apply w-full p-3 rounded-xl border-2 border-slate-100 bg-slate-50 focus:bg-white focus:border-accent focus:ring-0 outline-none transition-all font-medium text-slate-700;
  }
}

@theme {
  /* Mengunci font tunggal: Plus Jakarta Sans */
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-primary: #1e4b8f; /* Biru Profesional */
  --color-accent: #0ea5e9;  /* Sky Blue Fresh */
  
  --font-size-hero: clamp(2rem, 1rem + 5vw, 4.5rem);
}

@layer base {
  body {
    font-family: var(--font-sans);
    letter-spacing: -0.01em; /* Meningkatkan kemewahan visual */
    @apply antialiased bg-slate-50 text-slate-900;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
    letter-spacing: -0.025em; /* Lebih rapat untuk heading agar tegas */
    @apply font-extrabold;
  }
}